<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Registrarse </h2>
      <!-- <h2 class="inactive underlineHover"> Registrarse </h2> -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <img src="/icons/accountLogo.png" id="icon" alt="User Icon" /> -->
      </div>
  
      <!-- Login Form -->
      <form (submit)="submitRegisterForm()">
        <input type="text"  [(ngModel)]="registerForm.username" id="login" class="fadeIn second" name="login" placeholder="Introduce tu nombre de usuario">
        <input type="password" [(ngModel)]="registerForm.password" id="password" class="fadeIn third" name="login" placeholder="Introduce tu contrasena">
        <button class="fadeIn fourth">Registrate</button>
      </form>
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->
  
    </div>
  </div>
