table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    max-width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }

  button{
    height: 43px;
    margin: 9px;
    width: 90px
  }
  
  div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    
  }

  .redStock{
    color: red
  }

  .addInv{

    background-color: #1aaf06;
    color: white;

  }
  