<div *ngIf="showModal">
    <div class="modal">
      <h2>{{producto ? 'Editar' : 'Agregar'}} Producto</h2>
      <form (submit)="submitForm($event)">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="form.nombre" name="nombre" required>
        <label for="marca">Marca:</label>
        <!-- <input type="text" id="marca" [(ngModel)]="form.marca" name="marca" required> -->
        <select name="marca" [(ngModel)]="form.marca" value="Seleccione una marca" required>
          <option *ngFor="let marca of marcas">{{marca.marca}}</option>
         </select>
        <label for="proveedor">Proveedor:</label>
        <select name="proveedor" [(ngModel)]="form.proveedor" value="Seleccione un proveedor" required>
          <option *ngFor="let proveedor of proveedores">{{proveedor.proveedor}}</option>
         </select>
         <!-- <select name="" id="">
          <option value="" *ngFor="let categoria of categorias" >{{categoria}}</option>
         </select> -->
        <label for="precio">Precio:</label>
        <input type="number" id="precio" [(ngModel)]="form.precio" name="precio" required min="0">
        <label for="categoria">Categoría:</label>
        <!-- <input type="text" id="categoria" [(ngModel)]="form.categoria" name="categoria" required> -->
         <select name="categoria" [(ngModel)]="form.categoria" value="Seleccione una categoria" required>
          <option  *ngFor="let categoria of categorias">{{categoria.categoria}}</option>
         </select>
        <input type="file" id="imagen" (change)="onFileChange($event)" accept="image/jpeg, image/png">
        <button type="submit">Guardar</button>
        <button type="button" (click)="onClose()">Cancelar</button>
      </form>
    </div>
</div>
  