
<div>
  <h1>Sedes</h1>
<button class="addSede" (click)="openModal()">Agregar Sede</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Ubicación</th>
      <th>Contacto</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sede of sedes">
      <td>{{ sede.id }}</td>
      <td>{{ sede.nombre }}</td>
      <td>{{ sede.ubicacion }}</td>
      <td>{{ sede.contacto }}</td>
      <td>
        <button class="editar"(click)="editSede(sede)">Editar</button>
        <button class="eliminar" (click)="deleteSede(sede.id)">Eliminar</button>
        <button class="inv" (click)="verInventario(sede.id)">Ver Inventario</button>
      </td>
    </tr>
  </tbody>
</table>

<app-modal-sede *ngIf="showModal" [sede]="selectedSede" (close)="closeModal($event)"></app-modal-sede>
