nav {
    background-color: #333; 
    padding: 10px; 
    text-align: start; 
  }

  nav a {
    color: white; 
    text-decoration: none; 
    padding: 10px 20px;
    margin: 0 10px; 
    border-radius: 5px; 
  }
  
  nav a:hover {
    background-color: #555; 
  }
  
  nav a.active {
    background-color: #4CAF50;
  }
  span{
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    margin: 0 10px; 
    border-radius: 5px; 
    font-size: 20px;
  }
  .loginWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

