<!-- <section class="loginSection" >
    <form class="loginForm">
        <label>Username.</label>
        <input type="text" name="username" required placeholder="Introduce tu nombre de usuario.">
        <label>Password</label>
        <input type="password" name="password" required placeholder="Introduce tu contrasena."  >
    </form>
</section> -->


<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Iniciar Sesion </h2>
      <!-- <h2 class="inactive underlineHover"> Registrarse </h2> -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Introduce tu nombre de usuario">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Introduce tu contrasena">
        <button class="fadeIn fourth">Inicia Sesion</button>
      </form>
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->
  
    </div>
  </div>
